// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #F8F8F0;
@light-gray: #75715E;
@gray: #464741;
@dark-gray: #363830;
@very-dark-gray: #272822;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
