// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #F8F8F0;
@light-gray: #75715E;
@gray: #464741;
@dark-gray: #363830;
@very-dark-gray: #272822;

@red: #F92672;
@orange: #FD971F;
@yellow: #E6DB74;
@green: #A6E22E;
@cyan: #66D9EF;
@blue: #3298ED;
@purple: #AE81FF;
